@{
    ViewData["Title"] = "Post Page";
}
<div class="col-sm-9">
    <div class="content row w-100">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="http://localhost:3000">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <h2 class="content-detail-title fw-bold">Vụ khủng bố ở Moscow: Tòa án Nga lệnh bắt giam nghi phạm thứ 11</h2>

        <!-- BEGIN COMPONENT:: COMPONENT002489 -->
        <div class="article-detail-author-wrapper ">
            <div class="article-detail-author author-single">
                <div class="article-detail-author__main">
                    <div class="article-detail-author__image">
                        <a title="Tuấn Anh" class="lazy-background"
                           data-background-image="https://static-images.vnncdn.net/files/2022/7/8/b491ee02-a712-4b0f-94d7-bada86e08f5f.jpeg?width=65&amp;s=qsGqOCzgphSb6j6gXJcGAg"
                           href="/tac-gia/tuan-anh-0008IS.html" data-loaded="true" bg-loaded="true">


                        </a>
                    </div>
                    <p class="article-detail-author__info">
                        <span class="name">
                            <a href="/tac-gia/tuan-anh-0008IS.html" title="Tuấn Anh">
                                Tuấn Anh
                            </a>
                        </span>
                        <span class="position"></span>
                    </p>
                </div>
            </div>
        </div>
        <!-- END COMPONENT:: COMPONENT002489 -->
        <!-- BEGIN COMPONENT:: COMPONENT002514 -->
        <div class="content-detail__link-special">
            <span>Sự kiện: </span>
            <a href="/su-kien/tan-cong-khung-bo-dam-mau-tai-moscow-0008FM.html">Tấn công khủng bố đẫm máu tại Moscow</a>
        </div>
        <!-- END COMPONENT:: COMPONENT002514 -->
        <!-- BEGIN COMPONENT:: COMPONENT002490 -->
        <!-- END COMPONENT:: COMPONENT002490 -->
        <!-- BEGIN COMPONENT:: COMPONENT002511 -->
        <!-- END COMPONENT:: COMPONENT002511 -->
        <!-- BEGIN COMPONENT:: COMPONENT002551 -->
        <!-- END COMPONENT:: COMPONENT002551 -->


        <h4 class="content-detail-sapo sm-sapo-mb-0">
            Một tòa án hình sự Nga thông báo đã ra lệnh bắt giữ nghi phạm thứ
            11 liên quan đến vụ tấn công khủng bố ở trung tâm hòa nhạc Crocus City Hall, ngoại ô Moscow hồi tháng trước.
        </h4>
        <!-- BEGIN COMPONENT:: COMPONENT001017 -->
        <!-- END COMPONENT:: COMPONENT001017 -->

        <div class="maincontent main-content" id="maincontent">
            <p>
                Đài RT dẫn thông cáo của Tòa án hình sự quận Basmanny ở thủ đô Nga ngày 5/4 cho biết, nghi phạm mới bị
                bắt giữ là Muhammad Zoir Sharipzoda, công dân Tajikistan. Anh ta sẽ bị giam giữ cho đến ít nhất ngày 22/5
                để chờ hầu tòa vì cáo buộc&nbsp;<a href="https://vietnamnet.vn/khung-bo-tag12685147598747123026.html">khủng bố</a>.
            </p>
            <figure class="image vnn-content-image">
                <picture>
                    <!--[if IE 9]><video style="display: none;"><![endif]-->
                    <source data-srcset="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=0&amp;s=nLjSHWYdzr1_3UEo-e1crg"
                            media="(max-width: 1023px)"
                            srcset="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=0&amp;s=nLjSHWYdzr1_3UEo-e1crg">
                    <!--[if IE 9]></video><![endif]--><img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                           data-original="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=0&amp;s=nLjSHWYdzr1_3UEo-e1crg"
                                                           class=" lazy-loaded img-fluid w-100"
                                                           data-srcset="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=0&amp;s=nLjSHWYdzr1_3UEo-e1crg"
                                                           alt="nghi pham khung bo o moscow 1.jpg"
                                                           data-thumb-small-src="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=260&amp;s=5p5OUBc4rSuBGIjwhf-8dA"
                                                           srcset="https://static-images.vnncdn.net/files/publish/2024/4/6/nghi-pham-khung-bo-o-moscow-1-32.jpg?width=0&amp;s=nLjSHWYdzr1_3UEo-e1crg">
                </picture>
                <figcaption>
                    Nghi phạm Muhammad Zoir Sharipzoda tại tòa án quận Basmanny ở Moscow ngày 5/4. Ảnh: Telegram
                </figcaption>
            </figure>
            <p>
                Truyền thông Nga đưa tin, Sharipzoda đã tham gia chuẩn bị cho vụ xả súng đẫm máu ở trung tâm hòa nhạc
                Crocus City Hall tối 22/3, khiến 145 người thiệt mạng và hơn 500 người khác bị thương. Tuy nhiên, nhà chức
                trách không đề cập đến vai trò chính xác của anh ta là gì.
            </p>
            <p>
                Quyết định truy tố Sharipzoda được công bố một ngày sau khi Cơ quan an ninh Liên bang Nga thông báo bắt
                giữ thêm 3 nghi phạm mới liên quan đến <a href="https://vietnamnet.vn/su-kien/tan-cong-khung-bo-dam-mau-tai-moscow-0008FM.html">
                    <strong>
                        vụ tấn
                        công khủng bố ở Moscow
                    </strong>
                </a>. Những nghi phạm này gồm 2 người nước ngoài và một công dân Nga,
                đều có nguồn gốc từ Trung Á.
            </p>
            <p>
                Theo cơ quan an ninh, một trong các nghi phạm bị bắt ngày 4/4 trực tiếp tham gia tuyển dụng 4 tay súng
                bắn giết ở Crocus City Hall và phụ trách việc chu cấp tiền bạc cho cuộc tấn công. Hai kẻ còn lại đã đóng
                góp tiền để mua vũ khí và phương tiện cho những kẻ tấn công.
            </p>
            <p>Hiện không rõ liệu Sharipzoda có phải là một trong 3 nghi phạm bị bắt giữ hôm 4/4 hay không.</p>


            <!-- BEGIN COMPONENT:: COMPONENT002778 -->
            <!-- END COMPONENT:: COMPONENT002778 -->

        </div>
    </div>
    <div class="row border-top">
        <h3 class="bg-white fw-bold">
            Tin Liên quan
        </h3>
    </div>
    <div class="row categories border-top bg-color-light">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">
                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row border-top">
        <h3 class="bg-white fw-bold">
            Tin cùng chuyên mục
        </h3>
    </div>
    <div class="row categories border-top">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">
                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>

</div>
<div class="quangcao col-sm-3 border-start">
    <div class="container__right">

        <div>
            <h3 class="horizontal-heading fw-bold">
                Có thể bạn quan tâm
                </h2>
                <div>
                    <div class="horizontal-item border-bottom border-top">
                        <div class="horizontal-item__image">
                            <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html"
                               title="LPBank HAGL tuột chiến thắng trước Quảng Nam">
                                <img src="https://static-images.vnncdn.net/files/publish/2024/4/4/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-1181.jpg?width=260&amp;s=x1xUP_wRowFaKRzAbaOk9Q"
                                     alt="LPBank HAGL tuột chiến thắng trước Quảng Nam" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="horizontal-item__title">
                            <h5 class="post-title is-small" data-id="">
                                <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html#vnn_source=chitiet&amp;vnn_medium=box_duocquantam1"
                                   class="text-decoration-none link-dark" title="LPBank HAGL tuột chiến thắng trước Quảng Nam"
                                   data-limit="75">
                                    LPBank HAGL tuột chiến thắng trước Quảng Nam
                                </a>
                            </h5>
                        </div>
                    </div>

                    <div class="horizontal-item border-bottom">
                        <div class="horizontal-item__image">
                            <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html"
                               title="LPBank HAGL tuột chiến thắng trước Quảng Nam">
                                <img src="https://static-images.vnncdn.net/files/publish/2024/4/4/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-1181.jpg?width=260&amp;s=x1xUP_wRowFaKRzAbaOk9Q"
                                     alt="LPBank HAGL tuột chiến thắng trước Quảng Nam" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="horizontal-item__title">
                            <h5 class="post-title is-small" data-id="">
                                <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html#vnn_source=chitiet&amp;vnn_medium=box_duocquantam1"
                                   class="text-decoration-none link-dark" title="LPBank HAGL tuột chiến thắng trước Quảng Nam"
                                   data-limit="75">
                                    LPBank HAGL tuột chiến thắng trước Quảng Nam
                                </a>
                            </h5>
                        </div>
                    </div>
                    <div class="horizontal-item border-bottom">
                        <div class="horizontal-item__image">
                            <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html"
                               title="LPBank HAGL tuột chiến thắng trước Quảng Nam">
                                <img src="https://static-images.vnncdn.net/files/publish/2024/4/4/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-1181.jpg?width=260&amp;s=x1xUP_wRowFaKRzAbaOk9Q"
                                     alt="LPBank HAGL tuột chiến thắng trước Quảng Nam" class="img-fluid w-100">
                            </a>
                        </div>
                        <div class="horizontal-item__title">
                            <h5 class="post-title is-small" data-id="">
                                <a href="/lpbank-hagl-tuot-chien-thang-truoc-quang-nam-2267102.html#vnn_source=chitiet&amp;vnn_medium=box_duocquantam1"
                                   class="text-decoration-none link-dark" title="LPBank HAGL tuột chiến thắng trước Quảng Nam"
                                   data-limit="75">
                                    LPBank HAGL tuột chiến thắng trước Quảng Nam
                                </a>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-25">
                    <a href="http://localhost:3000" class="btn-back-home" title="Quay lại trang chủ">
                        <img class="mr-7" src="https://static.vnncdn.net/v1/icon/icon-pre-bule-sm.png">
                        QUAY LẠI TRANG CHỦ
                    </a>
                </div>
        </div>
    </div>
</div>




