@{
    ViewData["Title"] = "Home Page";
}


<div class="content col-sm-9">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-inner">
                <div class="row">
                    <div class="col post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/bayern-munich-chinh-thuc-so-huu-bom-tan-la-nha-vo-dich-world-cup/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13-300x200.jpg 300w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post13-300x200.jpg 300w"
                                                 sizes="(max-width: 400px) 100vw, 400px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-large fs-4">
                                                Bayern Munich CHÍNH THỨC sở hữu “bom tấn” là nhà Vô địch
                                                World Cup
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Bayern Munich CHÍNH THỨC sở hữu “bom tấn” là nhà Vô địch
                                                World Cup Mùa hè chưa đến, nhưng “Hùm xám” xứ Bavaria đã thực ...
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/hanh-vi-phat-200k-xuat-hien-ngay-tren-song-truyen-hinh-my/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12-300x200.jpg 300w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post12-300x200.jpg 300w"
                                                 sizes="(max-width: 400px) 100vw, 400px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left is-small">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small">
                                                Hành vi phạt 200k xuất hiện ngay trên sóng truyền hình Mỹ
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/da-giao-huu-cau-thu-trung-quoc-dap-gay-chan-tien-ve-uzbekistan/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11-300x200.jpg 300w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post11-300x200.jpg 300w"
                                                 sizes="(max-width: 400px) 100vw, 400px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left is-small">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small ">
                                                Đá giao hữu, cầu thủ Trung Quốc đạp gãy chân tiền vệ
                                                Uzbekistan
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/fan-thai-lan-phan-ung-voi-tuyen-bo-cua-hlv-park-hang-seo/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                                                 sizes="(max-width: 400px) 100vw, 400px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left is-small">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small ">
                                                Fan Thái Lan phản ứng với tuyên bố của HLV Park Hang-seo
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3  border-start">
            <div class="col-inner">
                <div class="row list-post">
                    <div class="post-item">
                        <div class="col-inner">
                            <a href="http://localhost:3000/post.html"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9-300x200.jpg 300w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post9-300x200.jpg 300w"
                                                 sizes="(max-width: 400px) 100vw, 400px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small ">
                                                Phil Neville chỉ ra 5 cái tên Manchester United cần mua
                                                trong hè này
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/hlv-mai-duc-chung-chot-danh-sach-dtqg-hot-girl-tran-thi-duyen-bi-loai/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8-300x200.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8-300x200.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8.jpg 400w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post8.jpg 400w"
                                                 sizes="(max-width: 300px) 100vw, 300px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-small ">
                                                HLV Mai Đức Chung chốt danh sách ĐTQG, “Hot girl” Trần Thị
                                                Duyên bị loại
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/hlv-u23-thai-lan-che-chien-thuat-cua-hlv-park-hang-seo-binh-thuong-thoi/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6.jpg 400w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6.jpg 400w"
                                                 sizes="(max-width: 300px) 100vw, 300px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small ">
                                                HLV U23 Thái Lan chê chiến thuật của HLV Park Hang-seo
                                                ”BÌNH THƯỜNG THÔI”
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="post-item">
                        <div class="col-inner">
                            <a href="https://tintuc.webmatrix.vn/hlv-u23-thai-lan-che-chien-thuat-cua-hlv-park-hang-seo-binh-thuong-thoi/"
                               class="text-decoration-none link-dark">
                                <div class="box box-normal box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover">
                                            <img src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg"
                                                 data-src="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg"
                                                 class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                                                 srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6.jpg 400w"
                                                 data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6-300x200.jpg 300w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post6.jpg 400w"
                                                 sizes="(max-width: 300px) 100vw, 300px">
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">
                                            <h5 class="post-title is-small ">
                                                HLV U23 Thái Lan chê chiến thuật của HLV Park Hang-seo
                                                ”BÌNH THƯỜNG THÔI”
                                            </h5>
                                            <div class="is-divider"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>
    <div class="row categories border-top border-bottom">
        <div class="col-sm-3">
            <a href="https://kenh14.vn/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
               src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
               title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
               style="background-image: url('https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg');">

                <div class="box-image">
                    <div class="image-cover">
                        <img src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             data-src="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg"
                             class="img-fluid w-100" alt="" decoding="async" loading="lazy"
                             srcset="https://kenh14cdn.com/zoom/250_156/203336854389633024/2024/4/5/photo1712304205875-17123042062262028371422.jpg 300w"
                             data-srcset="https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10.jpg 400w, https://tintuc.webmatrix.vn/wp-content/uploads/2019/03/post10-300x200.jpg 300w"
                             sizes="(max-width: 400px) 100vw, 400px">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-9">
            <h3 class="klwfnl-title inited fs-5" data-checklive="" data-type="0">
                <a href="/tu-hy-vien-roi-vao-canh-khon-don-phai-don-khoi-biet-thu-280-ty-sau-khi-bi-chong-cu-dai-gia-cat-tro-cap-20240405150916014.chn"
                   title="Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ cấp"
                   newsid="20240405150916014" newstype="0" type="0" class="is-small text-decoration-none link-dark">
                    Từ Hy Viên rơi vào cảnh khốn đốn, phải dọn khỏi biệt thự 280 tỷ sau khi bị chồng cũ đại gia cắt trợ
                    cấp
                </a>
            </h3>
            <div class="knswli-meta">
                <a href="/star.chn" class="knswli-category" title="Star">Star</a> -
                <span class="knswli-time time time-ago" title="2024-04-05T21:03:00" data-second="2024-04-05T21:03:00">
                    44
                    phút trước
                </span>
            </div>
            <span class="knswli-sapo" data-trimline="2">
                Nữ diễn viên hàng đầu showbiz đã phải từ bỏ cuộc sống xa hoa
                trước nay của cô.
            </span>
        </div>

    </div>

</div>
<div class="quangcao col-sm-3 border-start">
    <aside class="quangcao">
        lorem*1

    </aside>
    <aside class="ketquaganday">
        lorem*1

    </aside>
    <aside class="postganday">
        lorem*1

    </aside>
</div>